<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<ul>
		<li><a href="/"> Home </a></li>
		<li><a href="{{url_for('store')}}"> Store </a> </li>
		<li style="float: right; background-color: #4CAF50;
		" ><a href="{{url_for('about')}}" > About </a></li>
		<li style="float: right;" > <a href="{{url_for('login')}}" > Login </a></li>
	</ul>

<!-- Delete this section when you reach this file -->
<h1 style="font-size: 55px;position: absolute;left: 41.5%;top:28%">Cart Function</h1>
<h1 style="font-size: 70px;position: absolute;left: 40%;bottom:50%">Coming Soon</h1>
<!-- ------------------ -->

</body>
</html>