<!DOCTYPE html>
<html>
<head>
	<title> LOGIN PAGE </title>
	<style>
		ul {
		  list-style-type: none;
		  margin: 0;
		  padding: 0;
		  overflow: hidden;
		  background-color: #333;
		}
		li {
		  float: left;
		}

		li a {
		  display: block;
		  color: white;
		  text-align: center;
		  padding: 14px 16px;
		  text-decoration: none;
		}

		li a:hover:not(.active) {
		  background-color: #111;
		}
	</style>
</head>

<body>
	<ul>
		<li><a href="/"> Home </a></li>
		<li><a href="{{url_for('store')}}"> Store </a> </li>
		<li style="float: right; background-color: #4CAF50;
		" ><a href="{{url_for('about')}}" > About </a></li>
		<li style="float: right;" > <a href="{{url_for('login')}}" > Login </a></li>
	</ul>
	<br>

	<form action="/login" method="post" style="text-align: center;">
		<div class="form-group">
			<label for="first_name"> First name </label> <br>
			<input type="text" class="form-control" id="first_name" placeholder="Enter name">
		</div>
		<br>
		<div class="form-group">
			<label for="last_name"> Last name </label> <br>
			<input type="text" class="form-control" id="last_name" placeholder="Enter last name">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</body>
</html>