<!DOCTYPE html>
<html>
<head>
	<title> LOGIN PAGE </title>
</head>
<body>

	<form method="post">
		<div class="form-group">
			<label for="first_name"> First name </label> <br>
			<input type="text" class="form-control" id="first_name" placeholder="Enter name">
		</div>
		<br>
		<div class="form-group">
			<label for="last_name"> Last name </label> <br>
			<input type="text" class="form-control" id="last_name" placeholder="Enter last name">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</body>
</html>